!!! 5
%html
	%head
		%title
			- if content_for?(:title)
				MiniSSO -
				= yield_content :title
			- else
				MiniSSO
		:css
			html,body{width:100%;height:100%}
			.content{
				text-align:center;
			}
		- if content_for?(:head)
			!= yield_content :head
	%body
		%h1
			MiniSSO
		.content
			!= yield_content :content
